@model UniversitySystemWeb.Models.Professor

@{
    ViewData["Title"] = "Index";
}

<h1>Your information</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Afm)
            </td>
        </tr>
    </tbody>
</table>