@model IEnumerable<ViewModel>


@{
    ViewData["Title"] = "ViewGrade";
    var filteredModels = Model.Select(s=>s.title == ViewBag.title);
}

<h2>View courses per semester</h2>
<div>
    @using (Html.BeginForm("ViewGrade", "Professors"))
    {
        @Html.AntiForgeryToken()
        <div class=" form-group">
            <fieldset>

            Course Title

                @Html.DropDownList("cTitle", (IEnumerable
            <SelectListItem>)ViewBag.courseTitles)

    </fieldset>

            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Course Title
            </th>
            <th>
                Course Semester
            </th>
            <th>
                Course Grade
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.title == @ViewBag.cTitle)
            {
                 <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.grade)
                </td>
            </tr>
            }
         }
           
    </tbody>
</table>
